version: "3.9"

services:
  db:
    image: postgres:15
    container_name: yultimate-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: yultimate
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - yultimate-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d yultimate"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  pgadmin:
    image: dpage/pgadmin4
    container_name: yultimate-pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - yultimate-net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/pgadmin4"]
      interval: 30s
      timeout: 10s
      retries: 5

  redis:
    image: redis:7
    container_name: yultimate-redis
    ports:
      - "6379:6379"
    restart: always
    command: ["redis-server", "--save", "60", "1", "--loglevel", "warning"]
    networks:
      - yultimate-net
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

networks:
  yultimate-net:

volumes:
  postgres_data:
  pgadmin_data:
